.Game {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Game-logo {
    animation: Game-logo-spin infinite 20s linear;
  }
}

.Game-header {
  background-color: #58283f; /*#3A1D1D*/
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Card-carousel {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   background-color: #421d2e; /*#231212*/
   padding: 5px 5px 5px 3px;
   min-width: 80vw;
   max-width: 100vw;
   border-radius: 5px;
}

.Confirm-button {
  height: 8vh;
  margin: 10px 0px 10px 0px;
  background-color: #0d8c74 !important; /*#C1631E*/
  font-weight: bold !important;
  border-radius: 3px !important;
  border: 1px solid #484747 !important;
}

.Card-design {
  color: #f1e4d7;
  background-color: #421d2e;
  width: 15rem;
  display: inline-table;
  border-radius: 10px !important;
  border: 1px solid #484747 !important; 
  box-shadow: 5px 5px 5px 5px black;
}

.card-button {
  padding: 0 !important;
  border: 0 !important;
}

.card-img {
  height: 100%;
}

.Play-status {
  color: #f1e4d7;
  vertical-align: top;
  margin: auto;
}

.List-item-design {
  background-color: #421d2e !important; /*#231212*/
  color: #f1e4d7 !important;
  min-width: 40vw;
  text-align: center !important;
  justify-content: space-between;
}

.List-item-design.disabled {
  color: #867e7e !important;
}

.list-group-item-dark {
  background-color: #25101a !important;
}

@keyframes Game-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
