.Game {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Game-logo {
    animation: Game-logo-spin infinite 20s linear;
  }
}

.Game-header {
  background-color: #2f1522;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Card-carousel-num {
  width: 3.5vw;
  height: 60%;
  margin: auto 15px auto auto;
  border-color: dimgray !important;
  background-color: dimgray !important;
  box-shadow: -3px -5px 0px 3px black;
  color: white;
  font-weight: bold;
  font-size: 1.75vw;
}

.Card-carousel {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   background-color: #1d0d15; 
   padding: 5px 5px 5px 3px;
   width: 80vw;
   border-radius: 5px;
}

.Confirm-button {
  height: 8vh;
  margin: 10px 0px 10px 0px;
  background-color: #0cbf9d !important; 
  font-weight: bold !important;
  border-radius: 3px !important;
  border: 1px solid #0cbf9d !important;
}

.Card-design {
  color: #f1e4d7;
  background-color: #2f1522;
  width: 15rem;
  display: inline-table;
  border-radius: 10px !important;
  border: 1px solid #2f1522 !important; 
  box-shadow: 5px 5px 5px 5px black;
  margin-bottom: 15px;
}

.card-button {
  padding: 0 !important;
  border: 0 !important;
}

.card-img {
  height: 100%;
}

.Play-status {
  color: #f1e4d7;
  vertical-align: top;
  margin: auto;
}

hr {
  border: 0;
  width: 50vw;
  height: 1px !important; 
  background-image: -webkit-linear-gradient(left, #232222, #797474, #232222);
}

.List-item-design {
  background-color: #1d0d15 !important; /*#231212*/
  color: #f1e4d7 !important;
  min-width: 40vw;
  text-align: center !important;
  justify-content: space-between;
}

.List-item-design.disabled {
  color: #867e7e !important;
}

.list-group-item-dark {
  background-color: black !important;
}

@keyframes Game-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
